<p>einrichtungsansicht works!</p>

<div>
    <mat-label solutionlabel> Einrichtung: </mat-label>
    <textarea matInput [(ngModel)]="eingabetext"></textarea>
  </div>
  <div>
    <button (click)="sendData()">Senden</button>
    <button mat-button> Emfpangen</button> 
  </div>

<div class="container">
  <div class="row justify-content-center p-2">
    <h1>Angular mit Firebase CRUD. Unser Test: {{e1.name}}</h1>
    <div class="form-goup">
      <input type="text" class="form-control" placeholder="Gebe den Einrichtungsnamen ein">
    </div>
  </div>
    
</div>
    
  <!-- <router-outlet></router-outlet> -->